---
import AdminLayout from "../../../layouts/Layout.astro";
import AdminNav from "../../../components/AdminNav.astro";

import type { Platform } from "../../../utils/types";
import { getOrders } from "../../../api/orders";

let response = await getOrders(Astro.cookies.get("token")?.value || "");
const columns = ["Id", "Usuario", "Fecha", "Total", "Estado"];
const title = "Lista de ordenes";
const url = "orders";
---

<AdminLayout>
  <AdminNav />
  <section class="max-w-screen-2xl mx-auto px-2 py-16">
    <div class="sm:flex justify-between items-baseline mb-4">
      <h1 class="text-4xl font-bold text-black mb-5">{title}</h1>
      <div>
        <input
          id="search"
          type="text"
          name="search"
          placeholder="Buscar"
          class="px-6 py-3 border-gray-300 rounded-lg"
        />
      </div>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
            {
              columns.map((col) => (
                <th scope="col" class="px-6 py-3">
                  {col}
                </th>
              ))
            }
            <th scope="col" class="pr-9 pl-3 py-3 text-right"> Revisar </th>
          </tr>
        </thead>
        <tbody id="results">
          {
            response.results.reverse().map((order) => (
              <tr class="bg-white border-b border-gray-200 transition-all duration-200 ease-in-out">
                <td class="px-6 py-4">{order.id}</td>
                <td scope="row" class="px-6 py-4 font-medium text-gray-900">
                  {order.account.username}
                </td>
                <td class="px-6 py-4">{order.order_date}</td>
                <td class="px-6 py-4">{order.total}</td>
                <td class="px-6 py-4">{order.status}</td>

                <td class="px-6 py-4 text-right">
                  <div>
                    <a
                      href={`/admin/orders/order/${order.id}`}
                      class="inline-flex items-center gap-2 bg-sky-800 px-4 py-2 rounded-lg text-white hover:bg-sky-700 transition duration-200 ease-in-out"
                    >
                      <svg
                        class="w-6 h-6 text-gray-800 dark:text-white"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                      >
                        <path
                          stroke="currentColor"
                          stroke-width="2"
                          d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"
                        />
                        <path
                          stroke="currentColor"
                          stroke-width="2"
                          d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                        />
                      </svg>
                      Ver
                    </a>
                  </div>
                </td>
              </tr>
            ))
          }
          <tr id="no-results" class="hidden">
            <td colspan="99" class="text-center py-4 text-gray-500"
              >No hay resultados con los filtros</td
            >
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <script is:inline>
    document.addEventListener("astro:after-swap", () => {
      const input = document.getElementById("search");
      const rows = document.querySelectorAll("#results tr:not(#no-results)");
      const noResults = document.getElementById("no-results");

      input.oninput = () => {
        const filter = input.value.toLowerCase();
        let visibleCount = 0;

        rows.forEach((row) => {
          const match = row.textContent.toLowerCase().includes(filter);
          row.classList.toggle("hidden", !match);
          if (match) visibleCount++;
        });

        noResults.classList.toggle("hidden", visibleCount > 0);
      };
    });
  </script>
</AdminLayout>
