---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";

const res = await fetch("http://localhost:8000/api/products");
const products = await res.json();
---

<Layout>
	<div class="flex flex-col gap-4 py-4">
		<Hero />
		<main class="relative w-full flex flex-col gap-4 bg-white">
			<section
				class="w-full mx-auto max-w-6xl py-6 text-xl text-secondary-800 font-semibold bg-white px-4 rounded-md"
			>
				<div class="border-b-2 pb-2 border-primary-100">
					<h2>Explora nuestros juegos más vendidos</h2>
				</div>
				<div class="grid w-full grid-cols-3 gap-3 py-4">
					{
						products.map((product) => (
							<div>
								<img src={product.image} alt={product.name} />
								<p class="text-xl font-bold">
									nombre: {product.name}
								</p>
								<p class="text-xs text-gray-700 max-h-16 overlow-hidden truncate">
									descripcion: {product.description}
								</p>
								<p class="text-sm text-gray-700">
									precio: {product.price}
								</p>
								<p class="text-sm text-gray-700">
									stock: {product.stock}
								</p>
								<p class="text-sm text-gray-700">
									fecha: {product.release_date}
								</p>
								<p class="text-sm text-gray-700">
									categoria: {product.category.name}
								</p>
								<p class="text-sm text-gray-700">
									plataforma: {product?.platform}
								</p>
								<p class="text-sm text-gray-700">
									id: {product.id}
								</p>
							</div>
						))
					}
				</div>
			</section>
			<section
				class="w-full mx-auto max-w-6xl py-6 text-xl text-secondary-800 font-semibold bg-white"
			>
				<div class="border-b-2 pb-2 border-primary-100">
					<h2>Explora nuestros nuevos accesorios</h2>
				</div>
				<div class="grid w-full grid-cols-4 gap-3 py-4">
					<div class="w-full aspect-square bg-primary-100"></div>
					<div class="w-full aspect-square bg-primary-100"></div>
					<div class="w-full aspect-square bg-primary-100"></div>
					<div class="w-full aspect-square bg-primary-100"></div>
				</div>
			</section>
		</main>
	</div>
</Layout>
